

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    margin: 0;
    padding: 0.8rem 1.8rem;
    border-right: 1px solid gray;
}
.navbar-collapse {
    height: 9vh;
}
.navbar-nav {
    height: 9vh;
    margin-left: 0;
}

.navbar-brand img {
    height: 2.3rem;
    width: 2.3rem;
}
#search-text-input {
    width: 50vw!important;
    margin-right: 0;
}
#button-holder {
    background-color: #F9F9F9;
}
.dropdown-right {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-top: 0!important;
    margin-left: 1rem;
}
.dropdown-right-text {
    font-size: 0.7rem;
}
.dropdown-toggle {
    font-size: 0.9rem;
    font-weight: 100;
}
.nav-link {
    padding: 1.2rem 2rem;
}